<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="aust.fyp.learn.and.earn">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.EditProfile"></activity>
        <activity android:name=".Activities.SetNewPassword" />
        <activity android:name=".Activities.VerificationActivity" />
        <activity android:name=".Activities.CreateTeacherAccount" />
        <activity android:name=".Activities.MainActivityStudent" />
        <activity android:name=".Activities.MainActivityTeacher" />
        <activity android:name=".Activities.CreateAccountStudent" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>